body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: rgb(77, 77, 77);
}


section#header{
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1150px;
    margin: 0 auto;
    align-items: center;
}

.navbar .right img{
    max-width: 40%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.navbar ul li{
    list-style-type: none;
    cursor: pointer;
    /* background-color: black; */
    padding: 5px;
}

.navbar .left{
    text-align: end;
}

.navbar .left .login{
    width: 90px;
    padding: 10px;
    border: 1px solid #00b289;
    background-color: white;
    color: #00b289;
    border-radius: 7px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

div.dropcontent{
    display: block;
    position: fixed;
    left: 24%;
    top: 10%;
    width: 28%;
    /* padding: 30px 0; */
    background-color: white;
    z-index: 1;
    box-shadow:  0 0 60px 0 rgba(2,4,69,.05);
}

div.dropcontent div{
    padding: 45px 10px;
    cursor: pointer;
}

div.dropcontent hr{
    width: 330px;
}

div.dropcontent h1, div.dropcontent p{
    margin: 0;
    padding: 0;
}

div.dropcontent h1{
    font-size: 20px;
}

div.dropcontent p{
    font-size: 14px;
}

div.dropcontent div:hover{
    box-shadow: 0 6px 10px rgba(0,0,0,0.08), 0 1px 18px rgba(0,0,0,0.12);
    transition: 0.3s;
}

div.workflowDropDown{
    position: fixed;
    top: 11%;
    right: 10px;
    background-color: white;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 638px;
    box-shadow:  0 0 60px 0 rgba(2,4,69,.05);
}

div.workflowDropDown div{
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
}

div.workflowDropDown div:hover{
    box-shadow: 0 6px 10px rgba(0,0,0,0.08), 0 1px 18px rgba(0,0,0,0.12);
    transition: 0.3s;
}

div.workflowDropDown div h1, div.workflowDropDown div h1{
    margin: 0;
    padding: 0;
}

div.workflowDropDown div h1{
    font-size: 15px;
    font-weight: lighter;
}

div.workflowDropDown div p{
    font-size: 13px;
}

div.workflowDropDown div:nth-child(1) h1::before{
    content: url('./img/invoices.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

div.workflowDropDown div:nth-child(2) h1::before{
    content: url('./img/Proposals\ icon.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

div.workflowDropDown div:nth-child(3) h1::before{
    content: url('./img/contracts\ icon.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

div.workflowDropDown div:nth-child(4) h1::before{
    content: url('./img/people-outline.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

div.workflowDropDown div:nth-child(5) h1::before{
    content: url('./img/reader-outline.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

div.workflowDropDown div:nth-child(6) h1::before{
    content: url('./img/time_tracking\ icon.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

div.workflowDropDown div:nth-child(7) h1::before{
    content: url('./img/accounting.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

div.workflowDropDown div:nth-child(8) h1::before{
    content: url('./img/task-tracking.svg');
    position: relative;
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
}

.startfree{
    background-color: #00b289;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 140px;
    border-radius: 7px;
    cursor: pointer;
}

.downarrow::after{
    content: "";
    background-image: url('./img/down-arrow-5-svgrepo-com.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: contain;
    position: relative;
    top: 3px;
    left: 3px;
}

section.prices{
    background-color: #e9fcf7;
    padding-top: 150px;
}

div.priceheading{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

div.priceheading h1{
    font-size: 35px;
}

.priceheading div.periods{
    display: flex;
    gap: 40px;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.priceheading div.periods div{
    background-color: #00b289;
    width: 60px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
}

div.periods div::before{
    content: "";
    background-image: url('./img/circle-svgrepo-com.svg');
    display: inline-block;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    right: 12px;
    border-radius: 50%;
}

div.periods div.changetoggle::before{
    content: "";
    background-image: url('./img/circle-svgrepo-com.svg');
    display: inline-block;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    left: 12px;
    border-radius: 50%;
}

.priceheading img{
    position: absolute;
    right: 28%;
    top: 25%;
}

section.plans{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1150px;
    margin: 0px auto;
    column-gap: 40px;
    margin-top: 30px;
    padding-bottom: 100px;
}

div.plan{
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

div.plan h1{
    font-size: 25px;
    margin: 0;
}

div.pricetag{
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #00b289;
    margin-bottom: 30px;
}

div.pricetag span:first-child{
    font-size: 25px;
}

div.pricetag span:nth-child(2){
    font-size: 50px;
    font-weight: bold;
}

div.pricetag span:last-child{
    font-size: 20px;
    margin-top: 40px;
}

div.inclusives ul li{
    list-style-type: none;
    padding: 5px;
}

div.inclusives ul li::before{
    content: "";
    background-image: url('./img/tick-svgrepo-com.svg');
    display: inline-block;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    right: 10px;
}

div.plan .startfree{
    height: 70px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
}

div.plan .startfree2{
    position: relative;
    top: 15em;
}

.starter .startfree, .professional .startfree{
    margin-top: 90px;
}

section.addons{
    max-width: 1150px;
    margin: 0 auto;
    padding: 30px;
}

section.addons h1{
    text-align: center;
    margin: 50px 0;
}

section.addons .addondiv{
    box-shadow: 0 0 60px 0 rgba(2,4,69,.05);
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}


section.addons .addondiv div{
    width: 80%;
}

section.addons .addondiv span{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 20%;
}

.addondiv span p{
    margin: 0;
}
.addondiv span p:last-child{
    font-size: 15px;
    font-weight: lighter;
}

.tax div .learnmore{
    color: #00b289;
    font-weight: bold;
    text-decoration-line: none;
}

.tax div .learnmore::after{
    content: "";
    background-image: url('./img/right-arrow-svgrepo-com.svg');
    display: inline-block;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

.yourbusiness{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    background-color: #e9fcf7;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: 70px;
}

.yourbusiness p{
    width: 80%;
    font-size: 40px;
}

.yourbusiness p span{
    color: #00b289;
}

.yourbusiness button{
    height: 60px;
}

section.faqs{
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
}

section.faqs h1{
    text-align: center;
    color: #00b289;
}

section.faqs .questions{
    padding: 10px;
}

section.faqs .questions div h2:hover{
    color: #00b289;
    cursor: pointer;
}

section.faqs .questions div.q1 h2::after{
    content: "";
    background-image: url('./img/down-arrow-5-svgrepo-com.svg');
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    left: 439px;
}

section.faqs .questions div.q2 h2::after{
    content: "";
    background-image: url('./img/down-arrow-5-svgrepo-com.svg');
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    left: 429px;
}

section.faqs .questions div.q3 h2::after{
    content: "";
    background-image: url('./img/down-arrow-5-svgrepo-com.svg');
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    left: 300px;
}

section.faqs .questions div.q4 h2::after{
    content: "";
    background-image: url('./img/down-arrow-5-svgrepo-com.svg');
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    left: 458px;
}

footer{
    background-color: #e9fcf7;
}

main.footer{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: anchor-center;
    padding: 30px;
}

main.footer section h1{
    margin-bottom: 40px;
    font-size: 20px;
}

main.footer div ul li{
    list-style-type: none;
    position: relative;
    right: 40px;
    font-weight: 100;
    padding: 3px;
    cursor: pointer;
}

section.product div:last-child ul li:first-child{
    color: #00b289;
}

ul li.dropdown::after{
    content: "";
    background-image: url('./img/down-arrow-5-svgrepo-com.svg');
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 3px;
}

/* JAVASCRIPT STYLES */

.scrolltotop{
    background-color: #00b289;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}